.asidebar {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    width: 310px;
    height: 660px;
    margin-right: 100px;
    padding-left: 10px;
}

.listofcategories {
    width: 310px;
    height: 660px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.category {
    display: flex;
    flex-direction: row;
}

.name { 
    margin-left: 12px;
}

.category h1{ 
    color: #000;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
