.head__links {
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}


.main__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.head__companies {
  display: flex;
  flex-direction: row;
  align-items: center ;
  margin-bottom: 36px;
}

.company {
  padding: 0px 23px;
  border-right: 1px solid #ccc;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company:first-child {
  border-left: 1px solid #ccc;
}

.company__img{
  width: auto;
  height: auto;
  max-width: 112px;
  max-height: 30px;
  display: block;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;
}